body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
}

header {
    background-color: #1f2937;
}

.container-1 {
    display:flex;
    justify-content: space-around;
    background-color: lightslategray;
}

.logo {
    color: #f9f8fa;
    font-size: 24px;
    padding: 10px;
}

.links {
    display: flex;
    align-items: center;
}

.right-links {
    color: #e5e7eb;
    padding: 10px;
}

.flex-container-1 {
    display: flex;
    margin: 48px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 24px;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.random {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937; 
}

.information {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 40px;
    padding-left: 175px;
    padding-right: 175px;
}

.info-1, .info-2, .info-3, .info-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.info-1 button, .info-2 button, .info-3 button, .info-4 button {
    padding: 0px;
    border-idth: 0px;
    display: flex;

    align-items: center;
    border: 4px solid lightseagreen;
    border-radius: 8px;
}

.info-1, .info-2, .info-3, .info-4 div {
    text-align: center;
}

.container-3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content:
}

.quote {
    color: #1f2937;
    text-align: center;
    margin-top: 20px;
}

.author {
    text-align: center;
    padding: 20px;
    margin-left: 20%;
}

.container-4 {
    display: flex;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    gap: 5px;
    width: 500px;
    margin: 60px;
}

.main-title .main {
    color: #f9f8fa;
    font-weight: bold;
    font-size: 48px;
}

.main-title .secondary {
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}

.main-title button {
    background-color: lightseagreen;
    border-radius: 6px;
    font-size: 16px;
}

.image-1 {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    gap: 10px;
}

footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    background-color: lightgray;
}